body {
  background-color: #efe9f4;
}

#header {
  margin: 5px 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

#header-menu {
  display: flex;
  flex-flow: row wrap;
}

#header-img {
  width: 250px;
  margin-left: 2em;
}

#nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

#nav-bar ul li {
  margin-left: 10px;
  box-sizing: border-box;
  white-space: nowrap;
}

#nav-bar ul li a {
  font-size: 1.1rem;
  color: black;
}

main {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.6em;
}

#form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 400px;
}

#submit {
  background-color: #ffab5c;
  font-size: 1.1;
  font-weight: 500;
  margin: 0.9em auto;
  width: 70%;
}

#features {
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 80px;
  margin-left: 20px;
}

.feature {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1rem;
  margin-top: 2em;
}

.feature h2,
h3,
h4 {
  font-size: 1.5em;
  font-weight: bold;
}

.feature span {
  margin: 0 2em;
}

.logo {
  font-size: 4rem;
  width: 90px;
  color: #a1ba89;
}

#how-to-paint {
  margin-top: 80px;
}

#pricing {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.set {
  width: calc(100% / 3);
  margin-left: 20px;
  margin-right: 20px;
  border: solid 2px;
  border-color: black;
  display: flex;
  flex-flow: column nowrap;
}

.set .product-title {
  font-size: 1.5rem;
  padding: 20px;
  background-color: #d2d6da;
  text-align: center;
}

.price,
.description {
  font-size: 1em;
  text-align: center;
  padding: 0px 40px;
}

.price {
  font-size: 1.4em;
}

.select {
  margin: 20px auto;
  background-color: #ffab5c;
  padding: 5px 20px;
  font-size: 1.2em;
  border: 0px;
}

footer {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: #d2d6da;
}

@media only screen and (max-width: 700px) {
  #nav-bar ul {
    flex-direction: column;
  }
  #nav-bar ul li {
    padding-right: 1em;
  }
  #nav-bar ul li a {
    padding: 0 0;
  }
  #nav-bar {
    width: auto;
    margin: auto;
  }
}

@media only screen and (max-width: 1000px) {
  #pricing {
    flex-flow: column nowrap;
    align-items: center;
  }
  .set {
    margin-top: 20px;
    width: 320px;
  }
}
